<section class="content" style="padding: 0px">
	<h3 style="display:inline;margin-left:1%;">
         站点列表---<small>站点信息管理</small>
  </h3>
  <form class="form-inline" style="margin:10px;padding: 10px; border: 2px solid grey; ">
  <div class="form-group">
    <label for="exampleInputName2">站点名称:</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">建站时间:</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">主管单位:</label>
    <select class="select">
        <option value ="volvo">Volvo</option>
        <option value ="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
     </select>
  </div>
   <button type="submit" class="btn btn-outline-primary">查询</button>
   
  <div class="form-group">
    <label for="exampleInputEmail2">所属区域:</label>
    <select class="select">
        <option value ="volvo">Volvo</option>
        <option value ="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
     </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态:</label>
     <select class="select">
        <option value ="volvo">Volvo</option>
        <option value ="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
     </select>
  </div>
  <button type="submit" class="btn btn-outline-primary">清空</button>
</form>
<hr>
<table class="table table-hover">
  <tr>
  <th>
    <input type="checkbox">
  </th>
  <th>站点编号</th>
  <th>站点名称</th>
  <th>建站时间</th>
  <th>站长姓名</th>
  <th>人员数量</th>
  <th>物资数量</th>
  <th>车辆数量</th>
  <th>主管单位</th>
  <th>所属区域</th>
  <th>操作</th>
  </tr>
  <tr>
  <th>
    <input type="checkbox">
  </th>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td></tr>
  <tr>
  <th>
    <input type="checkbox">
  </th>
  <td>2</td>
  <td>2</td>
  <td>2</td>
  <td>2</td>
  <td>2</td>
  <td>2</td>
  <td>2</td>
  <td>2</td>
  <td>2</td>
  <td>2</td></tr>
</table>
<div class="center">
  <button  type="button" class="btn btn-info">批量导入</button>
  <button  type="button" class="btn btn-info">批量导出</button>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <button  type="button" class="btn btn-info">删除站点</button>
</div>
<div class="center">
  <a href="#" >上一页</a>
  <a href="#" >下一页</a>
  <a href="#" >首页</a>
  <a href="#" >末页</a>
</div>
</section> 
