$marginSize: 10px;
$width:221px;
$height: 38px;
.form-control{
	width:auto;
}
.form-group{
	pandding:$marginSize;
}
a{
	margin:$marginSize;
}
.center{
	text-align:center;
	margin:0 auto;
}
.select{
	width:$width;
	height:$height;
}
